

@font-face {
    font-family: 'IRANSans';
    src: url('assets/fonts/iransansdnweb.ttf');
    src: url('assets/fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/IRANSansWeb(FaNum)_Medium') format('woff2'),
         url('assets/fonts/IRANSansWeb(FaNum)_Medium') format('woff'),
         url('assets/fonts/IRANSansWeb(FaNum)_Medium') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body,a,p,div,h1,h2,h3,h4,h5,h6 {
    font-family: 'IRANSans', sans-serif !important;
}


.link-to{
    color: white;
    text-decoration: none;
    font-weight: 100;
}
.section-home{
    width: 100%;
    height: 80vh;
    background-image: url('../images/slide-home.jpeg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-reserve{
    background-color: rgba(0, 0, 0, 0.292);
    backdrop-filter: blur(15px);
    width: fit-content;
    height: auto;
    border-radius: 12px;
    position: absolute;
    top: 40%;
    right: 5%;
    animation: boxintro 3s forwards;

}
.btn-request{
    align-self: center;
    margin-top: 2% !important;
}
.index-up{
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.input-request{
    padding: 4%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
}
.head-section{
    font-size: 2rem;
    position: absolute;
    top: 30%;
    color: white;
    font-weight: 400;
    animation: textintro 3s forwards;
}
.section-two{
    height: auto;
    animation: wlxom 2s forwards;
}
.frame-icon{
    color: #4e7b74;
    background-color: transparent;
    border: solid 1px #4e7b74;
    width: 5rem;
    height: 5rem;
    border-radius: 15%;
    place-content: center;
    text-align: center;
    font-size: 1.5rem;
}
.text-section{
    padding: 2% 10%;
}
.txt-left{
    text-align: left;
}
.section-three{
    height: 60%;
}
.image-section{
    position: relative;
    width: 100%;
    animation: imasc 3s infinite;

}
.section-4{
    margin-top: 15%;
    background-image: url('../images/banner.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.bg-sec-4{
    width: fit-content;
    height: auto;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 5%;
    backdrop-filter: blur(5px);
    margin: auto;
    border-radius: 2rem;
    
}
.justify-center{
    justify-content: center;
}
.section-5{
    height: 55vh;
}
.se{
    border-radius: 0 5rem 5rem 0 !important;
}
.btn-search{
    border-radius: 5rem 0 0 5rem !important;
    background-color: #4e7b74 !important;
    color: white !important;
}
.link-services{
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
}
.link-services:hover{
    color: #4e7b74;
}
.round-btn{
    width: 48px;
    height: 48px;
    align-content: center;
    text-align: center;
    border-radius: 100px !important;
    background-color: #4e7b74 !important;
    border-color: #4e7b74 !important;
    color: aliceblue !important;
}
.color-def{
    color: #4e7b74;
    text-decoration: none;
}
.color-def:hover{
    color: #4e7b74;
    text-decoration: underline;
}
.bg-azure{
    background-color: azure;
}

/*just animation*/
@keyframes textintro {
    0%{right: -55%;}
    100%{right: 5%;}
}
@keyframes boxintro {
    0%{left: -55%;}
    100%{left: 20%;}
}
@keyframes wlxom {
    0%{scale: 0;}
    100%{scale: 1; }
}
@keyframes imasc {
    0%{
        left: 0%;
        top: 0%;
    }

    25%{
        left: 1%;
        top: -1%;
    }
    50%{
        left: 3%;
        top: 3%;
    }
    75%{
        left: 1%;
        top: -3%;
    }
    100%{
        left: 0%;
        top: 0%;
        scale: 1;
    }
}
/* responsive mobile */
@media (max-width: 768px) {
    body,a,p,div,h1,h2,h3,h4,h5,h6 {
        font-family: 'IRANSans', sans-serif !important;
    }
    .mobile-none{
        display: none !important;
    }
    .form-reserve{
        background-color: rgba(0, 0, 0, 0.292);
        backdrop-filter: blur(15px);
        width: 70%;
        height: auto;
        border-radius: 12px;
        position: absolute;
        top: 30%;
        right: 5%;
    }
    .head-section{
        font-size: 1rem;
        position: absolute;
        top: 20%;
        color: white;
        font-weight: 400;
        animation: textintro 3s forwards;
    }
    .section-4{
        margin-top: 95%;
        background-image: url('../images/banner.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }
}