

@font-face {
    font-family: 'IRANSans';
    src: url('assets/fonts/iransansdnweb.ttf');
    src: url('assets/fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/IRANSansWeb(FaNum)_Medium') format('woff2'),
         url('assets/fonts/IRANSansWeb(FaNum)_Medium') format('woff'),
         url('assets/fonts/IRANSansWeb(FaNum)_Medium') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body,a,p,div,h1,h2,h3,h4,h5,h6 {
    font-family: 'IRANSans', sans-serif !important;
}


.link-to{
    color: white;
    text-decoration: none;
    font-weight: 100;
}
.section-home{
    width: 100%;
    height: 80vh;
    background-image: url('../images/slide-home.jpeg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-reserve{
    background-color: rgba(0, 0, 0, 0.292);
    backdrop-filter: blur(15px);
    width: fit-content;
    height: auto;
    border-radius: 12px;
    position: absolute;
    top: 40%;
    right: 5%;
    animation: boxintro 3s forwards;

}
.btn-request{
    align-self: center;
    margin-top: 2% !important;
}
.index-up{
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.input-request{
    padding: 4%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: none;
}
.head-section{
    font-size: 2rem;
    position: absolute;
    top: 30%;
    color: white;
    font-weight: 400;
    animation: textintro 3s forwards;
}
.section-two{
    height: auto;
}
.frame-icon{
    color: #4e7b74;
    background-color: transparent;
    border: solid 1px #4e7b74;
    width: 5rem;
    height: 5rem;
    border-radius: 15%;
    place-content: center;
    text-align: center;
    font-size: 1.5rem;
}
.text-section{
    padding: 2% 10%;
}
@keyframes textintro {
    0%{right: -55%;}
    100%{right: 5%;}
}
@keyframes boxintro {
    0%{left: -55%;}
    100%{left: 20%;}
}
@media (max-width: 768px) {
    body,a,p,div,h1,h2,h3,h4,h5,h6 {
        font-family: 'IRANSans', sans-serif !important;
    }
    .mobile-none{
        display: none !important;
    }
    .form-reserve{
        background-color: rgba(0, 0, 0, 0.292);
        backdrop-filter: blur(15px);
        width: 70%;
        height: auto;
        border-radius: 12px;
        position: absolute;
        top: 30%;
        right: 5%;
    }
    .head-section{
        font-size: 1rem;
        position: absolute;
        top: 20%;
        color: white;
        font-weight: 400;
        animation: textintro 3s forwards;
    }
}